<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="daeyeon.dao.face.AdminUserDao">
	
	<!-- /admin/user  -->
	<!-- 회원의 전체 리스트 수 조회 -->
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM users
	</select>
	
	<!-- /admin/user -->
	<!-- 회원 전체 리스트 조회 -->
	<select id="selectUsers" resultType="Users" parameterType="AdminPaging">
		SELECT * FROM (
			SELECT rownum rnum, R.* FROM (
			      SELECT * FROM users
				) R
			) RECORD
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	
	<!-- admin/userSearch -->
	<select id="selectSearchCntAll" resultType="int" parameterType="AdminPaging">
		SELECT count(*) FROM users 
		<where>
			<choose>
				<when test="type != null and type.equals('userNick')">
					AND user_nick LIKE '%' || #{keyword } || '%'
				</when>
				<when test="type != null and type.equals('userName')">
					AND user_name LIKE '%' || #{keyword } || '%'
				</when>
			</choose>
		</where>
		ORDER BY user_no DESC
	</select>
	
	
	<select id="selectSearchUsers" resultType="Users" parameterType="AdminPaging">
		SELECT * FROM (
			SELECT rownum rnum, R.* FROM (
				SELECT * FROM users 
				<where>
					<choose>
						<when test="type != null and type.equals('userNick')">
							AND user_nick LIKE '%' || #{keyword } || '%'
						</when>
						<when test="type != null and type.equals('userName')">
							AND user_name LIKE '%' || #{keyword } || '%'
						</when>
					</choose>
				</where>
				ORDER BY user_no 
				) R
			) RECORD
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	
</mapper>







