<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Configuration DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hyanghee.dao.face.BfBoardDao">

	<select id="selectCntAll" resultType="int" parameterType="BoardPaging">
		SELECT count(*) FROM beforeafter
	</select>
	
	<select id="selectList" resultType="Beforeafter" parameterType="BoardPaging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					bf_no, bf_title, user_no,
					bf_hit, bf_thumbs, bf_inst_date
				FROM beforeafter
				ORDER BY bf_no DESC
			) B
		) Beforeafter
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="updateHit" parameterType="Beforeafter">
 		UPDATE beforeafter SET bf_hit = bf_hit + 1 
 		WHERE bf_no = #{bfNo}
 	</select>
	
	<select id="noticeList" resultType="Notice" parameterType="BoardPaging">
	<![CDATA[
		SELECT * FROM (
			SELECT * FROM notice ORDER BY notice_no DESC ) 
		WHERE ROWNUM <=3
		ORDER BY notice_no DESC
	]]>
	</select>
	
	<select id="selectUserInfo" resultType="Users" parameterType="int">
		SELECT * FROM users
		WHERE user_no = #{userno }
	</select>
	
	<insert id="insertBfBoard" parameterType="Beforeafter">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="bfNo">
			SELECT beforeafter_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO beforeafter ( 
			bf_no, bf_inst_date, bf_title, height, gender
			   , weight, bf_exercise, g_weight, s_date
			   , e_date, sele_exercise, before_con
			   , c_weight, g_result, after_con
			   , bf_upt_date, bf_delete_date, bf_hit
			   , bf_thumbs, user_no, category_no )
		
		VALUES ( #{bfNo}, sysdate, #{bfTitle}, #{height}, #{gender}
				   , #{weight}, #{bfExercise}, #{gWeight}, #{sDate}
				   , #{eDate}, #{seleExercise}, #{beforeCon}
				   , #{cWeight}, #{gResult}, #{afterCon}
				   ,  to_date('1991-11-05 00:00:00', 'YYYY-MM-DD HH24:MI:SS'), to_date('1991-11-05 00:00:00', 'YYYY-MM-DD HH24:MI:SS'), 0
				   , 0, #{userNo}, 1 )
	</insert>
	

	<select id="selectBoard" resultType="Beforeafter" parameterType="Beforeafter">
		SELECT
			bf_no, category_no, bf_title, user_no,
			bf_hit, bf_thumbs, bf_inst_date,
			height, gender, weight, bf_exercise, g_weight,
			s_date, e_date, sele_exercise, before_con, c_weight,
			g_result, after_con
		FROM beforeafter
		WHERE bf_no = #{bfNo}
	</select>
	
	<update id="updateBoard" parameterType="Beforeafter">
		UPDATE beforeafter
		SET bf_title = #{bfTitle}
			, height = #{height}
			, gender = #{gender}
			, weight = #{weight}
			, bf_exercise = #{bfExercise}
			, g_weight = #{gWeight}
			, s_date = #{sDate}
			, e_date = #{eDate}
			, sele_exercise = #{seleExercise}
			, before_con = #{beforeCon}
			, c_weight = #{cWeight}
			, g_result = #{gResult}
			, after_con = #{afterCon}
		WHERE bf_no = #{bfNo}
	</update>


	<delete id="delete" parameterType="Beforeafter">
		DELETE beforeafter
		WHERE bf_no = #{bfNo}	
	</delete>
	
	
	
	
	<select id="getList" resultType="Beforeafter">
		SELECT bf_no, bf_title, user_no,
				bf_hit, bf_thumbs, bf_inst_date
		FROM beforeafter
		
		ORDER BY bf_no DESC
	</select>
	
	<select id="getPage" resultType="Beforeafter">
        SELECT * FROM beforeafter
        WHERE bf_no = #{bfNo}
    </select>
	
	
    <sql id="boardSearch">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            bf_title like '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'C'.toString()">
                            before_con like '%'||#{keyword}||'%',
                            after_con like '%'||#{keyword}||'%'
                        </when>
                         <when test="type == 'TC'.toString()">
                         	bf_title like '%'||#{keyword}||'%',
                            before_con like '%'||#{keyword}||'%',
                            after_con like '%'||#{keyword}||'%'
                        </when>
                        
                    </choose>
                </trim>
            </foreach>
        </trim>
    
    </sql>
    
    
    <select id="getSearchPaging" resultType="Beforeafter">
    
    <![CDATA[
        
        SELECT bf_no, bf_title, user_no,
					bf_hit, bf_thumbs, bf_inst_date  FROM(
        
                SELECT 
                rownum  as rn, bf_no, bf_title, user_no,
								bf_hit, bf_thumbs, bf_inst_date
                  
                FROM beforeafter WHERE rownum <= #{pageNum} * #{amount} 
    ]]>            
                <if test="keyword != null">
                	<include refid="boardSearch"></include> 
                </if>
    
    <![CDATA[
                    
                )
                    
        WHERE rn > (#{pageNum} -1) * #{amount}
    
    ]]>
    
    </select>
	
       
    
    <select id="getTotal" resultType="int">
    	SELECT count(*) FROM beforeafter
    	
    	<if test="keyword != null">
			WHERE bf_no > 0 <include refid="boardSearch"></include>
        </if>
        
    </select>

	<select id="getPoint" resultType="Users" parameterType="int">
		SELECT * FROM users
		WHERE point = #{point }
	</select>

	<update id="updatePoint">
		UPDATE users 
			SET point = point + #{point}
		WHERE user_no = #{userno}
	</update>

	
</mapper>







  