<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Configuration DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hyanghee.dao.face.DietBoardDao">

<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM dietboard
	</select>
	
<!-- 	<select id="selectList" resultType="DietBoard" parameterType="BoardPaging"> -->
<!-- 		SELECT * FROM ( -->
<!-- 			SELECT rownum rnum, B.* FROM ( -->
<!-- 				SELECT -->
<!-- 					diet_no, d_title, user_no, -->
<!-- 					d_hit, d_thumbs, d_inst_date -->
<!-- 				FROM dietboard -->
<!-- 				ORDER BY diet_no DESC -->
<!-- 			) B -->
<!-- 		) DietBoard -->
<!-- 		WHERE rnum BETWEEN #{startNo } AND #{endNo } -->
<!-- 	</select> -->
	
	<select id="notice" resultType="Notice" parameterType="BoardSearch">
	<![CDATA[
		SELECT * FROM (
			SELECT * FROM notice ORDER BY notice_no DESC ) 
		WHERE ROWNUM <=3
		ORDER BY notice_no DESC
	]]>
	</select>
	
	<select id="updateHit" parameterType="DietBoard">
 		UPDATE dietboard SET d_hit = d_hit + 1 
 		WHERE diet_no = #{dietNo}
 	</select>
	
	<select id="selectUserInfo" resultType="Users" parameterType="int">
		SELECT * FROM users
		WHERE user_no = #{userno }
	</select>
	
	<insert id="insertDietBoard" parameterType="DietBoard">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="dietNo">
			SELECT dietboard_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO dietboard ( 
			diet_no, d_inst_date, d_title, prod_classification, d_content
			   , d_hit, d_thumbs, user_no, category_no )
		
		VALUES ( #{dietNo}, sysdate, #{dTitle}, #{prodClassification}, #{dContent}
				   , 0, 0, #{userNo}, 3 )
	</insert>
	

	<select id="selectBoard" resultType="DietBoard" parameterType="DietBoard">
		SELECT
			diet_no, d_inst_date, d_title, prod_classification, d_content
			   , d_hit, d_thumbs, user_no, category_no 
		FROM dietboard
		WHERE diet_no = #{dietNo}
	</select>
	
	<update id="updateBoard" parameterType="DietBoard">
		UPDATE dietboard
		SET d_title = #{dTitle}
			, prod_classification = #{prodClassification}
			, d_content = #{dContent}
		WHERE diet_no = #{dietNo}
	</update>


	<delete id="delete" parameterType="DietBoard">
		DELETE dietboard
		WHERE diet_no = #{dietNo}	
	</delete>
	
<!-- 	<select id="getList" resultType="DietBoard"> -->
<!-- 		SELECT diet_no, d_title, user_no, -->
<!-- 				d_hit, d_thumbs, d_inst_date -->
<!-- 		FROM dietboard -->
		
<!-- 		ORDER BY diet_no DESC -->
<!-- 	</select> -->
	
<!-- 	<select id="getPage" resultType="DietBoard"> -->
<!--         SELECT * FROM dietboard -->
<!--         WHERE diet_no = #{dietNo} -->
<!--     </select> -->
	
	<sql id="boardSearch">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            d_title like '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'C'.toString()">
                            d_content like '%'||#{keyword}||'%',
                        </when>
                         <when test="type == 'TC'.toString()">
                         	d_title like '%'||#{keyword}||'%',
                            d_content like '%'||#{keyword}||'%',
                        </when>
                        
                    </choose>
                </trim>
            </foreach>
        </trim>
    
    </sql>
    
    
    <select id="getSearchPaging" resultType="DietBoard">
    
        SELECT diet_no, d_title, user_no,
					d_hit, d_thumbs, d_inst_date  FROM(
        	select rownum rn, d.* from (
                SELECT
               		diet_no, d_title, user_no,
								d_hit, d_thumbs, d_inst_date
                  
                FROM dietboard
                	 <if test="keyword != null">
                		WHERE d_title LIKE  '%${keyword}%'
                	</if>
    		
    			 order by diet_no desc
               ) d
            
        ) 
         WHERE rn between  ( #{curPage}-1) *10 and  #{curPage}*10
    
    </select>
	
       
    
    <select id="getTotal" resultType="int">
    	SELECT count(*) FROM dietboard
    	
    	<if test="keyword != null">
			WHERE diet_no > 0 <include refid="boardSearch"></include>
        </if>
        
    </select>


<!-- 	포인트 -->
	<select id="getPoint" resultType="int" parameterType="Users">
		SELECT point FROM users
		WHERE user_no = #{userNo }
	</select>
	
	<update id="updatePoint" parameterType="Users">
		UPDATE users SET point =
			point + 50
		WHERE user_no = #{userNo}
	</update>
	

</mapper>