<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Configuration DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hyanghee.dao.face.DietBoardDao">

<select id="selectCntAll" resultType="int" parameterType="BoardPaging">
		SELECT count(*) FROM dietboard
	</select>
	
	<select id="selectList" resultType="DietBoard" parameterType="BoardPaging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					diet_no, d_title, user_no,
					d_hit, d_thumbs, d_inst_date
				FROM dietboard
				ORDER BY diet_no DESC
			) B
		) DietBoard
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectUserInfo" resultType="Users" parameterType="int">
		SELECT * FROM users
		WHERE user_no = #{userno }
	</select>
	
	<insert id="insertDietBoard" parameterType="DietBoard">
		
		<selectKey order="BEFORE" resultType="int" keyProperty="dietNo">
			SELECT dietboard_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO dietboard ( 
			diet_no, d_inst_date, d_title, prod_classification, d_content
			   , d_upt_date, d_delete_date
			   , d_hit, d_thumbs, user_no, category_no )
		
		VALUES ( #{dietNo}, sysdate, #{dTitle}, #{prodClassification}, #{dContent}
				   , #{kcal}, #{verifyContent}
				   , to_date('1991-11-05 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
				   , to_date('1991-11-05 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
				   , 0, 0, #{userNo}, 3 )
	</insert>
	

	<select id="selectBoard" resultType="DietBoard" parameterType="DietBoard">
		SELECT
			diet_no, d_inst_date, d_title, prod_classification, d_content
			   , d_upt_date, d_delete_date
			   , d_hit, d_thumbs, user_no, category_no 
		FROM dietboard
		WHERE diet_no = #{dietNo}
	</select>
	
	<update id="updateBoard" parameterType="DietBoard">
		UPDATE dietboard
		SET d_title = #{dTitle}
			, prod_classification = #{prodClassification}
			, d_content = #{dContent}
		WHERE diet_no = #{dietNo}
	</update>


	<delete id="delete" parameterType="DietBoard">
		DELETE dietboard
		WHERE diet_no = #{dietNo}	
	</delete>

</mapper>