<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="saebyeol.dao.face.NoticeDao">
 
 	<!-- 게시글 목록 -->
 	<select id="getList" parameterType="Notice">
 		SELECT count(*) FROM notice
 		ORDER BY DESC notice_no
 	</select>
 	
 	<!-- 게시글 페이징 목록 -->
 	<select id="getPaging" resultType="Notice">
		
		 <![CDATA[
        
        SELECT notice_no, notice_ttl, notice_date, notice_hit, 
	       admin_no  FROM(
        
                SELECT /*+ INDEX_DESC(notice notice_no) */
                rownum  as rn, notice_no, notice_ttl, notice_date,
								notice_hit, admin_no
                  
                FROM notice WHERE rownum <= #{pageNum} * #{amount} 
    ]]>            
                <if test="keyword != null">
                	<include refid="criteria"></include> 
                </if>
    
    <![CDATA[
                    
                )
                    
        WHERE rn > (#{pageNum} -1) * #{amount}
    ]]>
    
    </select>
    
    <!-- 게시글 총 개수 -->
    <select id="getTotal" resultType="int">
    	SELECT count(*) FROM notice
    	
    	<if test="keyword != null">
			WHERE notice_no > 0 <include refid="criteria"></include>
        </if>
        
    </select>  
		
		
 	<!-- 조회수 증가 -->
 	<select id="updateHit" parameterType="Notice">
 		UPDATE notice SET notice_hit = notice_hit + 1 
 		WHERE notice_no = #{noticeNo}
 	</select>
 	
 	
 	<!-- 게시글 선택 -->
 	<select id="selectNotice" resultType="Notice" parameterType="Notice">
 	SELECT
 		notice_no, notice_ttl, notice_date, notice_hit, notice_content, admin_no
 	FROM notice
 	WHERE notice_no = #{noticeNo}
 	</select>
 
 	<!-- 게시글 작성 -->
 	<insert id="insertNotice" parameterType="Notice">
 	<selectKey order="BEFORE" resultType="int" keyProperty="noticeNo">
 		SELECT notice_seq.nextval FROM dual
 	</selectKey>
 	INSERT INTO notice ( notice_no, notice_ttl, notice_date, notice_hit, notice_content, admin_no ) 
 	VALUES ( #{noticeNo}, #{noticeTtl}, sysdate, '0', #{noticeContent}, '1'  )
 	</insert>
 	
 	<!-- 게시글 수정 -->
 	<update id="updateNotice" parameterType="Notice">
 	UPDATE notice
 	SET notice_ttl = #{noticeTtl} , notice_content = #{noticeContent}
 	WHERE notice_no = #{noticeNo}
 	</update>
 	
 	<!-- 게시글 삭제 -->
 	<delete id="delete" parameterType="Notice">
 	DELETE notice
 	WHERE notice_no = #{noticeNo}
 	</delete>

	<sql id="criteria">
        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            notice_ttl like '%'||#{keyword}||'%' 
                        </when>
                        <when test="type == 'C'.toString()">
                            notice_content like '%'||#{keyword}||'%'
                        </when>
                         <when test="type == 'TC'.toString()">
                         	notice_ttl like '%'||#{keyword}||'%',
                            notice_content like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>


</mapper>