<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="hyunkyung.dao.face.ChlPageDao">
<!-- 유저 정보 조회 -->
	<select id ="selectUserInfo" resultType="Users" parameterType="int">
		SELECT *
		FROM users
		WHERE user_no = #{userno }
	</select>
	
<!-- 챌린지 정보 조회 -->
		<select id="selectChlInfo" resultType="Challenge" parameterType="Challenge">
			SELECT *
			FROM challenge
			WHERE challenge_no = #{challengeNo }
		</select>	

<!-- 챌린지 참여자 목록 조회, Join문 사용 -->
 <select id="selectPInfo" resultType="ParticipantList" parameterType="ParticipantList">
      SELECT P.challenge_no, C.challenge_kind, C.challenge_name, C.challenge_credate, C.challenge_enddate
      FROM participant_list P
      JOIN challenge C ON(P.challenge_no=C.challenge_no)
      WHERE user_no = #{userNo}
   </select>
</mapper>    