<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hyunkyung.dao.face.ChlPageDao">
	<!-- 유저 정보 조회 -->
	<select id="selectUserInfo" resultType="Users"
		parameterType="int">
		SELECT *
		FROM users
		WHERE user_no = #{userno }
	</select>

	<!-- 내 챌린지 조회 -->
	<select id="selectjoinList" parameterType="int" resultType="Challenge">
		SELECT P.challenge_no, C.challenge_kind, C.challenge_name,
		C.challenge_credate, C.challenge_enddate
		FROM participant_list P
		JOIN challenge C ON(P.challenge_no=C.challenge_no)
		WHERE user_no = #{userNo}
	</select>	
	
	
	<!-- 사진인증 페이지 이동 -->
	<select id="getPage" resultType="Challenge">
		SELECT * 
		FROM challenge
		WHERE challenge_no = #{challengeNo}
	</select>
	
	<!-- 회원이 인증한 사진 리스트 조회 -->
	<select id="getPhoto" parameterType="int" resultType="ChallengeFile">
		SELECT *
		FROM challenge_page P
		JOIN challenge_file F ON(P.chpage_no = F.chpage_no)
		WHERE challenge_no = #{challengeNo}
	</select>
	
	<!-- 이미지 파일 삽입 -->
<!-- 	<insert id="insertFile" parameterType="ChallengeFile"> -->
<!-- 		INSERT INTO challenge_file(cfile_no, originfile, storedfile) -->
<!-- 		VALUES (#{cfileNo}, #{originfile}, #{storedfile}) -->
<!-- 	</insert> -->
	
</mapper>    