<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="hyunkyung.dao.face.CreateDao">
	<insert id="insert" parameterType="hyunkyung.dto.Challenge">
<!-- 	challenge_no, m_no, challenge_credate, challenge_enddate -->
<!-- 		INSERT INTO challenge (challenge_no, challenge_kind, challenge_name, m_no) -->
		INSERT INTO challenge (challenge_no, challenge_kind, challenge_name, m_no, challenge_credate, challenge_enddate)
		VALUES (challenge_seq.nextval, #{challengeKind }, #{challengeName }, #{mNo }, to_date(#{challengeCredate },'yyyy-MM-dd'), to_date(#{challengeEnddate },'yyyy-MM-dd')
<!-- 		VALUES (challenge_seq.nextval, #{challengeKind }, #{challengeName }, #{mNo }) -->
<!-- 		VALUES (challenge_seq.nextval, #{challengeKind }, #{challengeName }, #{mNo }, #{challengeCredate }, #{challengeEnddate }) -->
<!-- 		to_date(#{input_date}, 'YYYY-MM-DD HH24:MI:SS') -->
	</insert>

</mapper>    