<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unhak.dao.face.OrderlistDao">
	  <!-- 유저 정보 조회 -->
	<select id ="selectUserInfo" resultType="Users" parameterType="int">
		SELECT *
		FROM users
		WHERE user_no = #{userno }
	</select>
	
	<!-- 구매목록 조회 -->
 	 	<select id="getOrder" parameterType="OrderlistDto" resultType="CartDto"> 
		SELECT p.prod_no,p.p_name,p.p_price,p.p_image1,c.user_no,p.add_date FROM product p
		INNER JOIN cart c
 		   on p.prod_no = c.prod_no
		WHERE c.user_no = #{userNo}

 	</select>


</mapper>