<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jucheol.dao.face.AttendanceDao">
	<select id="getLastLogin" resultType="Attendance" parameterType="Attendance">
		SELECT att_no, att_date, user_no
		FROM
			(SELECT *
			FROM attendance
			WHERE user_no = #{userNo }
			ORDER BY att_date desc)
		where rownum=1
	</select>
	
	<insert id="addLoginDate" parameterType="Attendance">
		INSERT INTO attendance(att_no, att_date, user_no)
		VALUES ( attendance_seq.nextval, #{attDate }, #{userNo } )
	</insert>
	
	<select id="getAtt" resultType="Date" parameterType="Attendance">
		SELECT att_date 
		FROM attendance
		WHERE user_no = #{userNo}
	</select>
	
</mapper>