<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jucheol.dao.face.ScrapDao">

	<insert id="addScrap" parameterType="Scrap">
		INSERT INTO scrap(scrap_no, board_no, user_no, category_no)
		VALUES ( scrap_seq.nextval, #{boardNo }, #{userNo }, #{categoryNo } )
	</insert>
	
	<select id="selectList" resultType="Scrap" parameterType="Scrap">
		SELECT a.*, c.category_name,s.scrap_no, s.user_no FROM (
			SELECT bf_title as title, bf_no as board_no, category_no from beforeafter
			WHERE user_no = #{userNo }
			UNION
			SELECT r_title, review_no, category_no  from reviewboard
			WHERE user_no = #{userNo }
			)a, scrap s, category c
		WHERE s.board_no = a.board_no
		AND a.category_no = c.category_no
		ORDER BY scrap_no desc
	
	</select>
	
	<delete id="deleteScrap" parameterType="int">
		DELETE scrap
		WHERE scrap_no = #{scrapNo}	
	</delete>
</mapper>